@import "utilities";
@import "footer";
@import "navbar";

.restohome {
  background: #D2D4D6;
  opacity: 0.8;
  margin: 8px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 7px;
  text-align: center;

}
