
<div class="container text-center restohome">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Add a restaurant</h1>
    <%= render 'form' %>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

