<div class="container text-center restohome">
  <div class="col-sm-8 col-sm-offset-2">
  <h1>Add a review</h1>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: Review::NOTES, include_blank:  "How good?" %>
      <%= f.submit class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

