<nav class="navbar navbar-wagon" role="navigation">
  <div class="navbar-header">
    <h1>BEN'S RESTAURANTS</h1>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/restaurants/new" class="navbar-wagon-button text-center">Add Restaurant</a>
        <br>
        <a class="navbar-wagon-button text-center" href="/restaurants">Home</a>
      </li>
    </ul>
  </div>
</nav>
